.footer {
  .container {
  }
  &__sign-up {
    margin-top: 33px;
    display: flex;
    align-items: center;
    &-text {
      margin: -4px 0 0 -3px;
      color: #00cfae;
      font-size: 16px;
    }
    &-form {
      margin-left: 16px;
      display: flex;
      align-items: center;
      width: 393px;
      height: 40px;
      input {
        padding: 8px 0 11px 12px;
        flex: 1 1 65.65%;
        font-family: $latoRegular;
        font-size: 16px;
        color: #cacaca;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid #cdcdcd;
        &::placeholder {
          color: #cacaca;
        }
      }
      button {
        height: 100%;
        flex: 1 1 34.35%;
        font-family: $dosisBold;
        font-size: 16px;
        font-weight: 700;
        color: #fefefe;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        border-radius: 0px 4px 4px 0px;
        background-color: #00cfae;
      }
    }
  }
  &__menu {
    .container {
      height: 100%;
    }
    margin-top: 35px;
    border-radius: 1px;
    background-color: #fafafa;
    height: 70px;
    &-list {
      width: 65.2%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-item {
        a {
          color: #2f1946;
          font-family: $dosisBold;
          font-size: 16px;
          line-height: 30px;
          text-transform: uppercase;
        }
      }
    }
  }
  &__flags {
    margin-top: 22px;
    width: 55.91%;
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    margin-top: 23px;
    color: #2f1946;
    font-family: $latoRegular;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    &::before {
      content:"";
      display: block;
      width: 828px;
      height: 1px;
      border-radius: 1px;
      background-color: #d3d3d3;
      margin-bottom: 7px;      
    }
  }
}