@font-face {
  font-family: "Dosis";
  src: url('/assets/fonts/dosis.ttf');
}
@font-face {
  font-family: "DosisBold";
  font-weight: 700;
  src: url('/assets/fonts/dosis.ttf');
}
@font-face {
  font-family: "DosisExtraBold";
  src: url('/assets/fonts/dosis.ttf');
}
@font-face {
  font-family: "MontserratRegular";
  src: url('/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: "MontserratBold";
  src: url('/assets/fonts/Montserrat-Bold.ttf');
}