@import "utils/reset";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html, body {
  height: 100%;
}
body {
  font-family: $dosisBold;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1270px;
  margin: 0 auto;
  overflow: hidden;
  @media (max-width: 575.98px) {max-width: 450px; padding: 0 15px;}
  @media (max-width: 767.98px) {max-width: 600px; padding: 0 15px;}
  @media (max-width: 991.98px) {max-width: 800px; padding: 0 15px;}
  @media (max-width: 1199.98px) {max-width: 1000px; padding: 0 15px;}
}

@import "modules/header.scss";
@import "modules/footer.scss";
@import "modules/socials.scss";

.main-screen {
  background: url("/assets/img/backgrounds/smiling-people.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .container {
    height: 100vh;
  }
  &__logo {
    margin-top: -137px;
    display: flex;
    justify-content: center;
  }
  &__title {
    margin-top: 65px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    color: #2f1946;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__button {
    margin-top: 54px;
    padding: 10px 12px 10px 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    border: 1px solid #81398b;
    a {
      display: flex;
      align-items: center;
      padding: 13px 21px 15px 19px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      background-color: #81398b;
      span {
        padding: 0px 6px;
        color: #ffffff;
        font-size: 18px;
      }
      img {padding: 0px 6px;}
    }
  }
  @media (max-height: 899.98px) {
    &__logo {
      margin-top: 60px;
      img {width: 75%;}
    }
    &__title {
      margin-top: 30px;  
      font-size: 50px;
    }
    &__button {
      margin-top: 40px;
      padding: 6px 8px;
      a {
        padding: 10px 14px;
      }
    }
    &__table {
      margin-top: 78px;
      width: 61.81%;
      &-col {
        height: 330px;
        flex: 0 0 29.94%;
        margin-bottom: -110px;
        &-top {
          height: 220px;
          img {
            
          }
        }
        &-bottom {
          font-size: 32px;
          height: 110px;
        }
      }
    }
  }
}

.welcome {
  .container {
    background: none;
    margin-top: -220px;
    margin-bottom: 16px;
  }
  .wrapper {
    padding: 0 243px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__table {
    width: 61.81%;
    display: flex;
    justify-content: space-between;
    &-col {
      height: 330px;
      flex: 0 0 29.94%;
      &_pink {background-color: #fe4a5d;}
      &_red {background-color: #e22028;}
      &_orange {background-color: #ff6c00;}
      &-top {
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          
        }
      }
      &-bottom {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 32px;
        height: 110px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  &__title-msg {
    margin-top: 129px;
    display: flex;
    align-items: center;
    img {}
    span {
      margin-left: 12px;
      color: #2f1946;
      font-size: 52px;
      text-transform: uppercase;
    }
  }
  &__quote {
    margin-top: 34px;
    color: #2f1946;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
  &__quote-author {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #fe4a5d;
    font-size: 30px;
    line-height: 36px;
  }
}

.join-us {
    background: url("/assets/img/backgrounds/centre.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  .container {
    padding-top: 36px;
    margin-bottom: 158px;
  }
  &__center {
    background: linear-gradient(to right, #e22028 0%, #f9b416 100%);
    padding: 9px 8px;
    &-content {
      background: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 52px 75px 65px 75px;
      &-title {
        color: #2f1946;
        font-size: 38px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
      }
      &-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 35px;
        padding: 10px 48px 11px 57px;
        border-radius: 4px;
        background-color: #2f53a3;
        img {margin-right: 3px;}
        span {
          margin-left: 5px;
          color: #ffffff;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 0.8px;
        }
      }
      &-split {
        margin-top: 11px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        span {
          position: relative;
          color: #9b9b9b;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.7px;
          &::before {
            content:"";
            display: block;
            width: 132px;
            height: 2px;
            background-color: #dcdcdc;
            border-radius: 1px;
            position: absolute;
            top: 50%;
            margin-top: -2px;
            left: 28px;
          }
          &::after {
            content:"";
            display: block;
            width: 132px;
            height: 2px;
            background-color: #dcdcdc;
            border-radius: 1px;
            position: absolute;
            top: 50%;
            margin-top: -2px;
            right: 28px;
          }
        }
      }
      &-form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          margin-bottom: 12px;
          width: 300px;
          height: 41px;
          border-radius: 4px;
          border: 2px solid #dcdcdc;
          background-color: #ffffff;
          padding-left: 10px;
          color: #642f6b;
          &::placeholder {
            color: #642f6b;
            font-family: $dosisBold;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.69px;
          }
        }
        button { 
          padding: 11px 117px;
          border-radius: 4px;
          background-color: #81398b;
          font-family: $dosisBold;
          color: #ffffff;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 0.69px;
        }
      }
    }
  }
}

.get-started {
  background: url("/assets/img/backgrounds/join-now.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  .container {}
  .wrapper {
    margin-top: 134px;
    margin-bottom: 134px;
    margin-left: 17px;
    width: 462px;
    height: 462px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;
  }
  &__content {
    width: 371px;
    height: 371px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100%;
    
    &-title {
      margin-top: 10px;
      color: #67326e;  
      font-size: 60px;
      text-transform: uppercase;
    }
    &-subtitle {
      margin-top: -7px;
      color: #67326e;    
      font-size: 46px;
    }
    &-button {
      margin-top: 17px;
      width: 139px;
      height: 39px;
      border-radius: 3px;
      background-color: #e22028;
      background-image: linear-gradient(to right, #e22028 0%, #f9b416 100%);
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}

.ibg {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  img{display: none;}
}